.show {
    opacity: 0;
    animation: appear 1s ease-in-out forwards;
}

.help {
    background-image: url("@/assets/help.svg");
    background-size: 100% 100%;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
        transform: rotate(0deg);
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(-1turn);
    }
}