* {
    z-index: 0;
}

.player {
    transition: transform 0.5s ease-in-out;
    opacity: 90%;
}

.selected {
    background-image: url("../assets/selected-player.svg");
    background-size: 110% 120%;
    background-position-y: -2px;
    transform: translateX(-5px);
    opacity: 100%;
}