* {
    z-index: 0;
}

.player {
    transition: transform 0.5s ease-in-out;
    opacity: 90%;
}

.selectedHome {
    background-image: url("../assets/selected.svg");
    background-size: 101% 120%;
    background-position-y: 1px;
    transform: translateX(-5px);
    opacity: 100%;
    /*filter: drop-shadow(0 0 2px rgba(187, 38, 73, 0.3)) drop-shadow(0 0 5px rgba(187, 38, 73, 0.3)) drop-shadow(0 0 15px rgba(187, 38, 73, 0.3));*/
}

.selectedAway {
    /*background-image: url("../assets/selected.svg");*/
    background-size: 101% 120%;
    background-position-y: 1px;
    transform: translateX(5px);
    opacity: 100%;
}

.selectedAway::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/selected.svg");
    background-size: 101% 120%;
    background-position-y: 1px;
    transform: scaleX(-1);
    opacity: 100%;
    /*filter: drop-shadow(0 0 2px rgba(187, 38, 73, 0.3)) drop-shadow(0 0 5px rgba(187, 38, 73, 0.3)) drop-shadow(0 0 15px rgba(187, 38, 73, 0.3));*/
}