.show {
    opacity: 0;
    animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}