#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  @media (max-width: 821px) {
    /*justify-content: normal;*/
    align-items: flex-start;
    /*width: 90%;*/
  }
}
.play-button {
  /* 숨김 상태 스타일 */
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s, transform 0.5s;
}

.play-button.show {
  /* 표시 상태 스타일 */
  opacity: 1;
  transform: scale(1);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background2.png");
  background-size: 100% 100%;
  opacity: 0.2;
  z-index: -1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.onPlay {
  animation: disappear 1s ease-in-out;
}

@font-face {

}

@font-face {
  font-family: 'Giants-Inline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeirofLightBold';
  src: url('./assets/HeirofLightBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeirofLightRegular';
  src: url('./assets/HeirofLightRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}