.sheetBorder {
    animation: appearBorder 1s ease-in-out;
}

.sheetActive {
    animation: appearAndDecreaseGap 1s ease-in-out;
}

.activePlayer {
    background-color: #ebff0b !important;
}

@keyframes appearBorder {
    0% {
        border: none;
    }
    80% {
        border: none;
    }
    100% {
        border: 1px solid black;
    }
}

@keyframes appearAndDecreaseGap {
    0% {
        opacity: 0;
        gap: 585px;
    }
    50% {
        opacity: 1;
    }
    100% {
        gap: 10px;
    }
}